

html {
  background-color: #fbf8f0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  overflow: hidden;
  background-color: #303030;
  margin: -8px;
}

nav::before {
  content: '';
  position: absolute;
  top: 28.5px; left: 0px;
  border-bottom: 34px solid #fbf8f0;
  border-top: 0px solid #2d5d7b;
  border-right: 80px solid #303030;
  width: 0px;
}

ul {
  list-style-type: none;
}

li {
  text-decoration: none;
}

a {
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbutton {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

nav a:hover, .dropdown:hover .dropbutton {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}